@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 22% 98%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 245 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 22% 94%;
    --secondary-foreground: 245 100% 62%;
    --muted: 210 22% 94%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 247 67% 36%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 245 100% 62%;
    --radius: 0.75rem;

    /* Cores da Sidebar para evitar transparência */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222 47% 11%;
    --sidebar-primary: 245 100% 62%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 22% 94%;
    --sidebar-accent-foreground: 245 100% 62%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 245 100% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}

.animate-slide-up {
  animation: slide-up 0.4s ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
